<%= form_with(model: @quest, local: true, class: "bg-base-300 rounded-lg p-6 space-y-4") do |f| %>
  <%= f.text_field :name, placeholder: "New Quest", class: "input w-full", id: "quest-name-field" %>
  <%= f.label :completed do %>
    <%= f.check_box :completed, class: "checkbox", id: "quest-completed-field" %>
    mark as completed
  <% end %>
  <div class="flex space-x-2 items-end">
    <%= f.submit "Add Quest", class: "btn btn-primary block mt-6", id: "add-quest-button" %>
    <%= link_to "Cancel", root_path, class: "btn btn-outline" %>
  </div>
<% end %>